@model IEnumerable<OnlineSHProject.Models.Order>

@{
    ViewBag.Title = "ShowOrders";
    Layout = "~/Views/Shared/_LayoutShopOwner.cshtml";
}

<h2>ShowOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Accept", "", new { id=item.Id }) |
            @Html.ActionLink("Details", "", new { id=item.Id }) |
            @Html.ActionLink("Reject", "", new { id=item.Id })
        </td>
    </tr>
}

</table>
